#album{
    max-height: 8vh;
    max-width: 8vh;
    border-radius: 50rem;
}

#bl-logo{
    max-height: 50px;
    max-width: 50px;
}

.bgShower{
    backdrop-filter: blur(4px);
}

.bgfill
{background: fixed;

}

.headheight{
    max-height: 10vh; 
}

.lorem{
    font-family: 'Creepster', cursive;
}

.mainSplash{
    background-image: url('https://m.media-amazon.com/images/I/81cmw7Eo-kL._SL1500_.jpg');
}

.notextstyle{
    text-decoration: none;
}

.pt-special{
    align-self: space-around;
    padding-top: 1rem !important;
    margin-top: .5rem !important;
    max-height: 10vh;
}

@media only screen and (min-width: 767.98px) {
    .stick{
        position: relative !important ;
    }
    
    .absolute{
        position: absolute !important;
    }

    .pt-ultra{
        padding-top: 13rem;
    }
}


@media only screen and (max-width: 767px){
    .order0{
        order: -1;
    }


}
    
